#DEFAULT CONFIGS
APP_ENV=local
MAX_IMAGE_SIZE=1000
CACHE_DISTANCE_THRESHOLD=0.45
RECOGNITION_COUNTER_KEY=recognition_counter

#REDIS
REDIS_HOST=redis
REDIS_PORT=6379
QUEUE_NAME=face_recognition_jobs

#RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_VHOST="/"

#qDrant Database
QDRANT_HOST=qdrant
QDRANT_PORT=6333
COLLECTION_NAME=faces



