services:
  api:
    build:
      context: ./api
    container_name: API
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app
      - ./system/photos/recognition:/app/system/photos/recognition
    depends_on:
      - qdrant
      - rabbitmq
      - redis
    environment:
      - env
    restart: unless-stopped

  worker:
    build:
      context: ./worker
    container_name: Worker
    volumes:
      - ./worker:/app
      - ./system/photos/recognition:/app/system/photos/recognition
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - env
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant
    container_name: qDrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: Redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: RabbitMQ
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - env
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  qdrant_data:
  photos_data:
