services:
  api:
    build:
      context: ./api
    container_name: API
    ports:
      - "8000:8000"
    volumes:
      - ./api:/api
      - ./system/photos/recognition:/app/system/photos/recognition
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
      qdrant:
        condition: service_started
    env_file:
      - .env
    restart: unless-stopped

  worker:
    build:
      context: ./worker
    container_name: Worker
    volumes:
      - ./worker:/worker
      - ./system/photos/recognition:/app/system/photos/recognition
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
      qdrant:
        condition: service_started
    env_file:
      - .env
    restart: always

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - "${RABBITMQ_PORT}:${RABBITMQ_PORT}"
      - "${RABBITMQ_MANAGEMENT_PORT}:${RABBITMQ_MANAGEMENT_PORT}"
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  qdrant_data:
  photos_data:
