version: "3.8"
services:
  app:
    build: .
    container_name: Avent7Recognition
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - qdrant

  qdrant:
    image: qdrant/qdrant
    container_name: Avent7Recognition_qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  redis:
    image: redis:7-alpine
    container_name: Avent7Recognition_redis
    ports:
      - "6379:6379"

volumes:
  qdrant_data:
